{% extends 'header.html'%}
  {%  block content %}

    <div class="container-fluid" style="padding-bottom:35px;padding-top:200px;">
      
  
        <div class="row details">
            <i class="mb-3">Dear Student, After payment of fee, please download Fee Receipt Mandatorily. If receipt is not generated, contact the Accounts Department / Exam Branch during college working hours.</i>
            <div class="text-center justify-content-center padding-10 mb-2" style="display:flex;">
                <h5>Your Lastest Attendance is:</h5>
                <h2>91.09%</h2>
            </div>
            <p class="text-center mb-4">(Your attendance is Very Good!)</p>
            <a href="#" class="mb-3">Click Here to Pay College/Transport/Hostel Fees Online</a>
            <a href="#" class="mb-2">Click Here to Pay Condonation Fees Online</a>
            <a href="#" class="mb-2 rf">Click Here To Pay Regular Exam Fees Online</a>
            <a href="#" class="mb-2">Click Here to Pay Supply Exam Fees Online</a>
            <a href="#" class="mb-3">Click Here to Pay Revaluation Exam Fees Online</a>
            <a href="#" class="mb-2">Click Here to Go for Regular/Supply Fee Receipts</a>
           <div class="container">
                <div class="col-md-2 bg-warning text-center">
                    <h6 style="height:40px; padding-top:8px;">ToDay's Time Table</h6>
                </div>
           </div>
        </div>
        <div class="row tt">
            <div class="col-md-8">
                <table class="table table-bordered" style="border:2px solid black; text-align:center;">
                    <thead style="font-size:12px;">
                      <tr>
                        <th>Day</th>
                        <th>P1 <br>(09:30-10:20)</th>
                        <th>P2 <br>(10:20-11:10)</th>
                        <th>P3 <br>(11:10-12:00)</th>
                        <th>P4 <br>(12:00-12:50)</th>
                        <th>P5 <br>(01:40-02:30)</th>
                        <th>P6 <br>(02:30-03:20)</th>
                        <th>P7 <br>(03:20-04:10)</th>
                      </tr>
                    </thead>
                    <tbody style="font-size:12px;">
                      <tr>
                        <td>TUE</td>
                            <td>ML <br>(Aparna - CSE)</td>
                            <td>CD <br>Lab(GSK - CSE)</td>
                            <td>CD <br>Lab(GSK - CSE)</td>
                            <td>CD <br>Lab(GSK - CSE)</td>
                            <td>DAA <br>(SM - CSE)</td>
                            <td>PP <br>(NK - CSE)</td>
                            <td>FIOT <br>(GSK - CSE)</td>
                      </tr>
                    </tbody>
                </table>
            </div>
        </div>
        

        <a href="#">View Full Time Table</a><br><br>
        <div class="row mb-2">
            <div class="col-md-2 bg-warning text-center" style="margin-left:8px;">
                 <h6 style="height:40px; padding-top:8px;">Subject Wise Attendance</h6>
             </div>
         </div>
         <div class="row tt">
            <div class="col-md-8">
                <table class="table table-bordered" style="border:2px solid black;">
                    <thead style="font-size:12px;">
                      <tr>
                        <th>SlNo</th>
                            <th>Subject</th>
                            <th>Faculty</th>
                            <th>Classes Held</th>
                            <th>Classes Attended</th>
                            <th>Att %</th>
                      </tr>
                    </thead>
                    <tbody style="font-size:12px;">
                      <tr>
                        <td>1</td>
                        <td>ML : Machine Learning</td>
                        <td>Aparna : TAMMA APARNA</td>
                        <td>46</td>
                        <td>43</td>
                        <td>93.48</td>
                      </tr>
                      <tr>
                        <td>2</td>
                        <td>CD : CompilerDesign</td>
                        <td>DJ : Dhananjay</td>
                        <td>37</td>
                        <td>32</td>
                        <td>86.49</td>
                      </tr>
                      <tr>
                        <td>3</td>
                        <td>DAA : Design and Analysis of Algorithms</td>
                        <td>SM : SOWMYA MALLA</td>
                        <td>30</td>
                        <td>28</td>
                        <td>93.33</td>
                      </tr>
                      <tr>
                        <td>4</td>
                        <td>ML Lab : Machine Learning Lab</td>
                        <td>   </td>
                        <td>19</td>
                        <td>16</td>
                        <td>84.21</td>
                      </tr>
                      <tr>
                        <td>5</td>
                        <td>CD Lab : CompilerDesignLab</td>
                        <td>   </td>
                        <td>22</td>
                        <td>19</td>
                        <td>86.36</td>
                      </tr>
                      <tr>
                        <td>6</td>
                        <td>PP : Python Programming</td>
                        <td>NK : KAVITHA NALLAMOTHU</td>
                        <td>37</td>
                        <td>36</td>
                        <td>97.30</td>
                      </tr>
                      <tr>
                        <td>7</td>
                        <td>FIOT : Fundamentals of Internet of Things</td>
                        <td>GSK : G SUNIL KUMAR</td>
                        <td>35</td>
                        <td>33</td>
                        <td>94.29</td>
                      </tr>
                      <tr>
                        <td>8</td>
                        <td>PP Lab : Python Programming Lab</td>
                        <td>    </td>
                        <td>15</td>
                        <td>12</td>
                        <td>80.00</td>
                      </tr>
                      <tr>
                        <td>9</td>
                        <td>CS : Cyber Security</td>
                        <td>MRC : MR CHAITANYA</td>
                        <td>19</td>
                        <td>16</td>
                        <td>84.21</td>
                      </tr>
                      <tr>
                        <td></td>
                        <td></td>
                        <td>Total</td>
                        <td>260</td>
                        <td>235</td>
                        <td>90.38</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>


            <div class="row mb-2">
              <div class="col-md-2 bg-warning text-center" style="margin-left:8px;">
                  <h6 style="height:40px; padding-top:8px; text-align:center;">Notifications</h6>
              </div>
           </div>
            <div class="row tt">
              <div class="col-md-8">
                  <table class="table table-bordered" style="border:2px solid black; text-align:center;">
                      <thead style="font-size:12px;">
                        <tr>
                          <th> Date & Time</th>
                          <th>	Notifiedby</th>
                          <th>	Subject</th>
                          <th>	Narration</th>
                          <th>	File</th>
                          <th>	Status</th>
                        </tr>
                      </thead>
                      <tbody style="font-size:12px;">
                        <tr>
                          <td>13-03-2024 12:52:48 PM</td>
                              <td><a href="#" class="links">ADMIN/PRINCIPAL</a></td>
                              <td><a href="#"	class="links">III-II B.Tech M-I TT</a></td>
                              <td><a href="#" class="links">III-II B.Tech M-I TT</a></td>
                              <td><a href="#" class="link">III-II B.Tech M-I TT.pdf</a></td>
                              <td>	New</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
          </div>

          <div class="row mb-2">
            <div class="col-md-2 bg-warning text-center" style="margin-left:8px;">
                <h6 style="height:40px; padding-top:8px; text-align:center;">Date wise Attendance</h6>
            </div>
        </div>
      <div class="row tt">
        <div class="col-md-8">
            <table class="table table-bordered" style="border:2px solid black; text-align:center; width:100%;">
                <thead style="font-size:12px;">
                  <tr>
                    <th>DayName</th>
                    <th>1 <br>(09:30-10:20)</th>
                    <th>2 <br>(10:20-11:10)</th>
                    <th>3 <br>(11:10-12:00)</th>
                    <th>4 <br>(12:00-12:50)</th>
                    <th>5 <br>(01:40-02:30)</th>
                    <th>6 <br>(02:30-03:20)</th>
                    <th>7 <br>(03:20-04:10)</th>
                  </tr>
                </thead>
                <tbody style="font-size:12px;">
                  <tr>
                    <td>18-03-2024(Mon)</td>
                    <td style="color:red;">A</td>
                        <td>-</td>
                        <td>P</td>
                        <td>P</td>
                        <td>-</td>
                        <td>-</td>
                        <td>P</td>
                  </tr>
                  <tr>
                    <td>16-03-2024(Sat)</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>-</td>
                        <td>-</td>
                        <td>P</td>
                  </tr>
                  <tr>
                    <td>15-03-2024(Fri)</td>
                        <td>P</td>
                        <td>-</td>
                        <td>P</td>
                        <td>P</td>
                        <td>-</td>
                        <td>-</td>
                        <td>P</td>
                  </tr>
                  <tr>
                    <td>14-03-2024(Thu)</td>
                        <td>-</td>
                        <td>-</td>
                        <td>P</td>
                        <td>P</td>
                        <td>-</td>
                        <td>P</td>
                        <td>P</td>
                  </tr>
                  <tr>
                    <td>13-03-2024(Wed)</td>
                        <td>P</td>
                        <td>P</td>
                        <td style="color:red;">A</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                        <td>P</td>
                  </tr>
                  <tr>
                    <td>12-03-2024(Tue)</td>
                        <td style="color:red;">A</td>
                        <td>P</td>
                        <td>-</td>
                        <td>-</td>
                        <td style="color:red;">A</td>
                        <td>P</td>
                        <td>P</td>
                  </tr>
                </tbody>
            </table>
        </div>
      </div>
</div>
{% endblock %}
