{% extends 'header.html'%}
{% block username %}
    {{ user[1] }}
{% endblock %}

{% block rollno %}
    ( {{ user[2] }} )
{% endblock %}
  {%  block content %}

      <div style="padding-top:150px;">
         <div class="row mt-4 p-10" style="padding:20px 0; background:#eee; ">
            <div class="col-md-12 b-10">
              <div class="row">
                <div class="col-md-2 text-center">
                  <label>H-T.No</label>                                                                     
                  <input type="text" class="form-control" value={{user[2]}} disabled>
               </div>
               <div class="col-md-2 text-center">
                <label>Admission No</label>
                <input type="text" class="form-control" value={{user[2]}} disabled>
                </div>
                <div class="col-md-2 text-center">
                  <label>Username</label>
                  <input type="text" class="form-control" value={{user[1]}} disabled>
                </div>
               <div class="col-md-2 text-center">
                  <label>Role</label>
                  <input type="text" class="form-control" value={{user[6]}} disabled>
                </div>
                <div class="col-md-2 text-center">
                  <label>Mobile No</label>
                  <input type="text" class="form-control" value={{user[4]}} disabled>
                </div>
                <div class="col-md-2 text-center">
                  <label>Email</label>
                  <input type="text" class="form-control" value={{user[3]}} disabled>
                </div>
              </div>
            </div>
        </div>
      </div>
  {% endblock %}